.svg-car {
    background: url("svg/sprite.css-c637028f.svg") 0 100% no-repeat;
}

.svg-car-dims {
    width: 20px;
    height: 20px;
}

.svg-close-icon {
    background: url("svg/sprite.css-c637028f.svg") 89.28571428571429% 64.15094339622641% no-repeat;
}

.svg-close-icon-dims {
    width: 11px;
    height: 12px;
}

.svg-family_star {
    background: url("svg/sprite.css-c637028f.svg") 26.666666666666668% 100% no-repeat;
}

.svg-family_star-dims {
    width: 20px;
    height: 20px;
}

.svg-menu {
    background: url("svg/sprite.css-c637028f.svg") 53.333333333333336% 100% no-repeat;
}

.svg-menu-dims {
    width: 20px;
    height: 20px;
}

.svg-receipt {
    background: url("svg/sprite.css-c637028f.svg") 100% 0 no-repeat;
}

.svg-receipt-dims {
    width: 20px;
    height: 20px;
}

.svg-ruble {
    background: url("svg/sprite.css-c637028f.svg") 88.23529411764706% 39.21568627450981% no-repeat;
}

.svg-ruble-dims {
    width: 10px;
    height: 14px;
}

.svg-search {
    background: url("svg/sprite.css-c637028f.svg") 69.23076923076923% 0 no-repeat;
}

.svg-search-dims {
    width: 30px;
    height: 30px;
}

.svg-slider-arrow {
    background: url("svg/sprite.css-c637028f.svg") 0 0 no-repeat;
}

.svg-slider-arrow-dims {
    width: 45px;
    height: 45px;
}

