.body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", Arial, sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 120px;
}

.header {
  margin: 18px 0;
}

.local {
  position: relative;
  display: flex;
  height: 40px;
}
.local-current {
  align-self: center;
  margin-left: 20px;
  vertical-align: middle;
  transition: 0.2s;
}
.local-current:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.local-list {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 165px;
  padding: 10px 18px 4px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(134, 135, 137, 0.2509803922);
  border-radius: 0px 0px 10px 10px;
}
.local-item:not(:first-of-type) {
  padding: 11px 0;
}
.local-item--close {
  display: flex;
  align-items: center;
  justify-content: end;
}
.local-item--close .btn {
  width: 10px;
  height: 10px;
  padding: 4px 0;
  background: url("../assets/images/icons/css/svg/sprite.css-436ef025.svg") 7% 90.978261% no-repeat;
}
.local-item--close .btn:hover {
  background-color: #5b484a;
  border-radius: 2px;
}
.local-link {
  color: #000;
}
.local-link:hover {
  color: #5b484a;
}

.search {
  display: flex;
  height: 40px;
  margin-left: auto;
}
.search-title {
  display: flex;
  align-items: center;
  padding-left: 14px;
  font-weight: 500;
  color: #010101;
  font-size: 17px;
  line-height: 40px;
}
.search-wrapper {
  display: flex;
  font-size: 17px;
  line-height: 40px;
  border: #cfcfcf solid 1px;
  border-radius: 10px 0 0 10px;
}
.search-what, .search-where {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  font-size: 17px;
  line-height: 40px;
  border: none;
}
.search-what:focus-visible, .search-where:focus-visible {
  outline: none;
  background-color: #d0c8c9;
}
.search-what::-webkit-input-placeholder, .search-where::-webkit-input-placeholder {
  color: #010101;
  opacity: 1;
}
.search-what::-moz-placeholder, .search-where::-moz-placeholder {
  color: #010101;
  opacity: 1;
}
.search-what:-moz-placeholder, .search-where:-moz-placeholder {
  color: #010101;
  opacity: 1;
}
.search-what:-ms-input-placeholder, .search-where:-ms-input-placeholder {
  color: #010101;
  opacity: 1;
}
.search-what {
  width: 245px;
}
.search-where {
  width: 170px;
}
.search-separator {
  width: 1px;
  background-image: linear-gradient(white 5px, #cfcfcf 5px, #cfcfcf 33px, white);
  height: 100%;
}

.aside {
  max-width: 1440px;
  margin: auto;
  padding: 13px;
  background-color: #424242;
}

.breadcrumps {
  display: flex;
  margin: 0 107px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.breadcrumps-item {
  margin-right: 5px;
  transition: 0.3s;
}
.breadcrumps-item:hover {
  opacity: 0.6;
}
.breadcrumps-item:not(:first-child)::before {
  content: "/";
  margin-right: 3px;
}
.breadcrumps-link {
  color: #fff;
}

.allitems-link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  transition: 0.2s;
}

.title {
  width: 100%;
  margin: 0;
  font-family: "Akrobat", "Arial", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: #000;
}

.swiper {
  overflow: hidden;
}

.restaurants {
  display: flex;
  padding-left: 10px;
}
.restaurants-wrapper {
  position: relative;
  max-width: 1230px;
  min-width: 0;
  padding: 3px 5px 50px;
  margin: auto;
}
.restaurants-lid {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 26px 20px 9px 0;
}

.item {
  position: relative;
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  padding: 0 0 50px 5px;
  border-radius: 20px;
}
.item:hover {
  background-color: #d0c8c9;
  cursor: pointer;
}
.item-img {
  order: -1;
  margin-left: -5px;
  margin-bottom: 5px;
  border-radius: 20px;
}
.item-lid {
  display: flex;
  justify-content: space-between;
  color: #5b484a;
}
.item-title {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.rating {
  display: flex;
  align-items: center;
  gap: 9px;
}
.rating-stars {
  position: relative;
  padding-left: 23px;
  color: #a72536;
  font-size: 14px;
  font-weight: 500;
}
.rating-stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/images/icons/css/svg/sprite.css-436ef025.svg") 37.782609% 65.0103092784% no-repeat;
}
.rating-amount {
  font-size: 14px;
  font-weight: 700;
  color: #ab9c9e;
}

.workhours {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  margin: 0;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  background-image: linear-gradient(to right, #6e4842, #aa8b81);
  border-radius: 16px;
}
.workhours-title {
  color: #d0c8c9;
}
.workhours-desc {
  margin-left: 4px;
  color: #f6f4f4;
}

.content {
  display: flex;
  justify-content: space-between;
}
.content-left {
  display: flex;
  flex-direction: column;
  color: #5b484a;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
}
.content-right {
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
}

.list-position {
  color: #847173;
}

.cuisine {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding-left: 28px;
}
.cuisine::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/images/icons/css/svg/sprite.css-436ef025.svg") 94% -10px no-repeat;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-wrapper {
  padding-right: 8px;
}
.check-coin:nth-of-type(1), .check-coin:nth-of-type(2) {
  fill: #5b484a;
}
.check-coin:nth-of-type(3), .check-coin:nth-of-type(4) {
  fill: #ab9c9e;
}
.check-average {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding-left: 32px;
  border-left: 1px solid #ab9c9e;
}
.check-average::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  left: 8px;
  background: url("../assets/images/icons/css/svg/sprite.css-436ef025.svg") 94% 43.4782608696% no-repeat;
}

.time {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 4px;
  padding-left: 25px;
  color: #5b484a;
}
.time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/images/icons/css/svg/sprite.css-436ef025.svg") -11px 65.0103092784% no-repeat;
}

.distans {
  text-align: end;
  color: #847173;
  line-height: 14px;
}

.swiper-btn {
  position: absolute;
  top: calc(50% - 39px);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f6f4f4;
}
.swiper-btn .arrow {
  fill: #616161;
}
.swiper-btn .arrow:hover {
  fill: #a72536;
}
.swiper-btn:disabled {
  display: none;
}
.swiper-btn--prev {
  left: -10px;
}
.swiper-btn--next {
  right: 0;
}
.swiper-btn--next .arrow {
  transform: rotate(180deg);
}
/*# sourceMappingURL=desktop.css.map */
