@import './variables';

.body {
  max-width: 1440px;
  margin: auto;

  font-family: 'Roboto', Arial, sans-serif;
}

.header {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 18px 120px;
  }
}

.local {
  display: flex;
  height: 40px;

  &:hover {
    cursor: pointer;

    & .local-current {
      transform: scale(1.15);
    }
  }

  &-current {
    align-self: center;
    margin-left: 20px;

    vertical-align: middle;
    transition: 0.2s;
  }
}

.search {
  display: flex;

  height: 40px;
  margin-left: auto;

  &-title {
    display: flex;
    align-items: center;
    padding-left: 14px;

    font-weight: 500;
    color: $text-black;
    font-size: 17px;
    line-height: 40px;
  }

  &-wrapper {
    display: flex;

    font-size: 17px;
    line-height: 40px;

    border: $input-border solid 1px;
    border-radius: 10px 0 0 10px;
  }

  &-what,
  &-where {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 8px;

    font-size: 17px;
    line-height: 40px;

    border: none;

    &:focus-visible {
      outline: none;
      background-color: $text-dt--gray;
    }

    &::-webkit-input-placeholder {
      color: $text-black;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: $text-black;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $text-black;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $text-black;
      opacity: 1;
    }
  }

  &-what {
    width: 245px;
  }

  &-where {
    width: 170px;
  }

  &-separator {
    width: 1px;
    background-image: linear-gradient(white 5px, $input-border 5px, $input-border 33px, white);
    height: 100%;
  }
}

.aside {
  max-width: 1440px;
  margin: auto;
  padding: 13px;

  background-color: $aside-panel;
}

.breadcrumps {
  display: flex;

  margin: 0 107px;

  font-size: 14px;
  line-height: 16px;
  color: #fff;

  &-item {
    margin-right: 5px;

    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:not(:first-child)::before {
      content: '/';
      margin-right: 3px;
    }
  }

  &-link {
    color: #fff;

    &:visited {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &:hover {
      color: #fff;
    }

    &:active {
      color: #fff;
    }
  }
}
