@import './variables';

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), url('../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'), url('../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto'), url('../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Akrobat';
  font-weight: 400;
  src: local('Akrobat'), url('../assets/fonts/Akrobat/Akrobat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Akrobat/Akrobat-Regular.woff') format('woff'),
    url('../assets/fonts/Akrobat/Akrobat-Regular.otf') format('otf');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  transition: 0.3s;

  &:visited {
    color: $text-dark;
  }

  &:hover {
    color: $text-dark;
    font-weight: 500;
  }

  &:focus {
    color: $text-dark;
    font-weight: 500;
  }

  &:active {
    color: $text-dark;
    font-weight: 500;
  }
}

.btn {
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &-search {
    width: 50px;
    height: 40px;
    background: url('../assets/images/icons/css/svg/sprite.css-a2c63060.svg') 63.63636363636363% -5px no-repeat, $bg;
    border-radius: 0 10px 10px 0;
  }
}

.header {
  font-family: 'Roboto', Arial, sans-serif;
}

.main {
  font-family: 'Akrobat', Arial, sans-serif;
}
