$text-dark: #5b484a;
$text-dd--gray: #f6f4f4;
$text-dt--gray: #d0c8c9;
$text-black: #010101;
$text-red: #a72536;
$aside-panel: #424242;
$bg: #754040;
$price-template: #ab9c9e;
$input-border: #cfcfcf;
$res-location: #847173;
