.svg-car {
    background: url("svg/sprite.css-436ef025.svg") 0 67.01030927835052% no-repeat;
}

.svg-car-dims {
    width: 40px;
    height: 40px;
}

.svg-close-icon {
    background: url("svg/sprite.css-436ef025.svg") 0 100% no-repeat;
}

.svg-close-icon-dims {
    width: 31px;
    height: 32px;
}

.svg-family_star {
    background: url("svg/sprite.css-436ef025.svg") 34.78260869565217% 67.01030927835052% no-repeat;
}

.svg-family_star-dims {
    width: 40px;
    height: 40px;
}

.svg-menu {
    background: url("svg/sprite.css-436ef025.svg") 100% 0 no-repeat;
}

.svg-menu-dims {
    width: 40px;
    height: 40px;
}

.svg-receipt {
    background: url("svg/sprite.css-436ef025.svg") 100% 41.23711340206186% no-repeat;
}

.svg-receipt-dims {
    width: 40px;
    height: 40px;
}

.svg-ruble {
    background: url("svg/sprite.css-436ef025.svg") 64% 63.10679611650485% no-repeat;
}

.svg-ruble-dims {
    width: 30px;
    height: 34px;
}

.svg-search {
    background: url("svg/sprite.css-436ef025.svg") 61.904761904761905% 0 no-repeat;
}

.svg-search-dims {
    width: 50px;
    height: 50px;
}

.svg-slider-arrow {
    background: url("svg/sprite.css-436ef025.svg") 0 0 no-repeat;
}

.svg-slider-arrow-dims {
    width: 65px;
    height: 65px;
}

