.svg-car {
    background: url("svg/sprite.css-a2c63060.svg") 58.333333333333336% 54.34782608695652% no-repeat;
}

.svg-car-dims {
    width: 40px;
    height: 40px;
}

.svg-close-icon {
    background: url("svg/sprite.css-a2c63060.svg") 0 0 no-repeat;
}

.svg-close-icon-dims {
    width: 70px;
    height: 26.98px;
}

.svg-family_star {
    background: url("svg/sprite.css-a2c63060.svg") 100% 0 no-repeat;
}

.svg-family_star-dims {
    width: 40px;
    height: 40px;
}

.svg-menu {
    background: url("svg/sprite.css-a2c63060.svg") 100% 43.47826086956522% no-repeat;
}

.svg-menu-dims {
    width: 40px;
    height: 40px;
}

.svg-receipt {
    background: url("svg/sprite.css-a2c63060.svg") 0 99.97826086956522% no-repeat;
}

.svg-receipt-dims {
    width: 40px;
    height: 40px;
}

.svg-ruble {
    background: url("svg/sprite.css-a2c63060.svg") 30.76923076923077% 93.85714285714286% no-repeat;
}

.svg-ruble-dims {
    width: 30px;
    height: 34px;
}

.svg-search {
    background: url("svg/sprite.css-a2c63060.svg") 63.63636363636363% 0 no-repeat;
}

.svg-search-dims {
    width: 50px;
    height: 50px;
}

.svg-slider-arrow {
    background: url("svg/sprite.css-a2c63060.svg") 0 40.26865671641791% no-repeat;
}

.svg-slider-arrow-dims {
    width: 65px;
    height: 65px;
}

